# fly.toml app configuration file generated for advanced-qa-generator-v2 on 2025-12-11T02:41:22Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'advanced-qa-generator-v2'
primary_region = 'nrt'

[build]

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services.ports]]
  port = 80
  handlers = ["http"]
  
[[services.ports]]
  port = 443
  handlers = ["tls", "http"]

[http_service.concurrency]
  type = "requests"
  hard_limit = 25
  soft_limit = 20

[http_service.http_options]
  response_timeout = 300
  idle_timeout = 300

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
