app = "advanced-qa-generator"
primary_region = "nrt"

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[http_service.http_options]
  response_timeout = 300
  idle_timeout = 300

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
